<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    <link rel="stylesheet"  href="{% static 'css/home.css' %}">
</head>
<body>
    
    <div>
        <div class="head">
            <img src="{% static 'images/icons8-soil-80.png' %}" alt="Soil icon">
            <h1>Welcome to Modern AgriFarming</h1>
        </div>

        <div class="card-container">
            <div class="card">
                <h3>Join as a Farmer</h3>
                <div class="content">
                    <p>Connect with agricultural experts, access modern farming techniques, and join a community dedicated to sustainable agriculture. Grow your business with our platform.</p>
                </div>
                <a href="{% url 'logout' %}" class="btn btn-outline-danger ms-auto">Continue</a>
                    Continue as Farmer
                </a>
            </div>

            <div class="card">
                <h3>Join as a Technician</h3>
                <div class="content">
                    <p>Share your expertise with farmers, provide technical solutions, and contribute to the modernization of agriculture. Your skills can make a real difference.</p>
                </div>
                 <a href="{% url 'logout' %}" class="btn btn-outline-danger ms-auto">Continue</a>
                    Continue as Technician
                </a>
            </div>
        </div>
    </div>

</body>
</html>